test-job/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <description>
    This configuration uses an HTTP endpoint to receive requests.
    </description>

    <!--
    To invoke the Hello service over HTTP, hit the following URL in your browser:

        http://localhost:8888?name=Ross
    -->

    <flow name="HelloWorld" doc:name="HelloWorld">
        <!--<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888" doc:name="Http Endpoint"/>-->
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888" doc:name="HTTP Endpoint"/>
        <component class="org.tbulens.groovymule.service.HelloWorldImpl" doc:name="Request Response"/>
        <!--<catch-exception-strategy>-->
                	<!--<logger level="ERROR" message="#[payload]" doc:name="Log Error"/>-->
        <!--</catch-exception-strategy>-->
    </flow>
</mule>
